<mat-card class="pokemon-card">
  <mat-card-header>
    <mat-card-title class="pokemon-id"
      >#{{ data.id | number : "3.0" }}</mat-card-title
    >
    <button mat-icon-button (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <div class="img-container">
    <img
      mat-card-image
      [src]="data.sprites.front_default"
      alt="{{ data.name }}"
    />
  </div>
  <mat-card-title class="pokemon-name">
    {{ data.name }}
  </mat-card-title>
  <mat-card-content>
    <div class="pokemon-info-container">
      <div class="pokemon-info">
        <span>Height</span> <span>{{ data.height }}m</span>
      </div>
      <div class="pokemon-info">
        <span>Weight</span> <span>{{ data.weight }}kg</span>
      </div>
    </div>
    <p class="pokemon-type">
      <span class="title">Type:</span>
      <span *ngFor="let type of data.types; let i = index">
        {{ type.type.name }}<span *ngIf="i < data.types.length - 1">/</span>
      </span>
    </p>
    <p class="pokemon-type">
      <span class="title">Abilities:</span>
      <span *ngFor="let ab of data.abilities; let i = index">
        {{ ab.ability.name
        }}<span *ngIf="i < data.abilities.length - 1">, </span>
      </span>
    </p>

    <p class="pokemon-type">
      <span class="title">Moves (first 5):</span>
      <span *ngFor="let move of data.moves.slice(0, 5); let i = index">
        {{ move.move.name }}<span *ngIf="i < 4">, </span>
      </span>
    </p>
  </mat-card-content>
</mat-card>
